/*		Global		*/
body,html{
	font-family: 'PT sans',verdana, arial, tahoma, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.025rem;
	background-color: gray;
	transition: .5s linear all;
}
a{
	color: coral;
	text-decoration: none;
}
	a:hover,
	a:active{
		color: darkcyan;
	}
	a.btn{
		border:solid 1px coral;
		border-radius: .25rem;
	}
	a.btn:hover,
	a.btn:active{
		border:solid 1px darkcyan;
	}
	h2,h3,h4,h5,h6{
		line-height: 2rem;
		padding-top: .5rem;
	}

/*		Header		*/

header{
	background-color: snow;
	height: 3.25rem;
	border-bottom: solid black 2px;
}
	h1{
		width: 80%;
		float: left;
	}
		a.logo {
			display: block;
			width: 100%;
			background: url(../images/logo.svg) no-repeat center left;
			background-size: 4rem 4rem;
			height: 4rem;
			font-size: 1.5rem;
			letter-spacing: .1rem;
			line-height: 4rem;
			margin: -.25rem 0 0 .5rem;
			padding-left: 4.5rem;
			text-decoration: none;
			color: black;
		}
		.no-svg a.logo {
		  background-image: url(../images/logo.png);
		}
	a.menu {
		float: right;
		width: 20%;
		max-width: 4rem;
		text-decoration: none;
		color: black;
		font-size: 1.5rem;
		line-height: 3.25rem;
		text-align: center;
		border-left: solid black 2px;
	}
	.main-nav{
		background-color: white;
		border-left: azure solid 3px;
		clear: both;
		position: absolute;
		right: 101%;
		top: 3.25rem;
		bottom: 0;
		min-width: 10rem;
		width: 20%;
		line-height: 3rem;
		font-size: 1.5rem;
		text-align: center;
	}
		nav[role=navigation].active{
			right: 0rem;
		}
		.main-nav ul li a{
			background-color: azure;
			width: 100%;
			display: block;
			margin-bottom: .125rem;
		}
		.main-nav ul li a:hover,
		.main-nav ul li a:active{
			background-color: coral;
			color: azure;
		}


/*		Main - Global		*/
main section{
	background-color: white;
	border-bottom: solid 1px black;
	padding:1.5rem .75rem;
}



/*		Main - Section Banner		*/

section.banner {
	text-align: center;
}
	section.banner h2{
		font-size: 1.5rem;
		line-height: 2rem;
		padding: 1rem 0;
		max-width: 20rem;
		margin: 0 auto;
	}
	section.banner div.container{
		float: left;
		width: 50%;
		padding:0 .5rem;
	}
	section.banner a.btn{
		display: block;
		width: 100%
	}




/*		Main - Section Quicklinks		*/

section.quicklinks {
	text-align: center;
}
	section.quicklinks > a > div{
		background-color: azure;
		padding:1rem;
		margin:1rem 0;
		border: solid 1px coral;
		border-radius:0 1rem;
		position: relative;
	}
	section.quicklinks > a:hover > div,
	section.quicklinks > a:focus > div{
		background-color: snow;
		border:solid 1px darkcyan;
	}
	section.quicklinks > a > div:before{
		content: "";
		position: absolute;
		top: -3px;
		left: -11px;


		width: 0; 
		height: 0; 
		border-left: 1rem solid transparent;
		border-right: 1rem solid transparent;
		
		border-bottom: 1rem solid coral;

		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		transform: rotate(-45deg);	}
	section.quicklinks h3 {
		font-size: 1.75rem;
	}
	section.quicklinks p{
		max-width: 23rem;
		font-size: 1.125rem;
		margin: 0 auto;
	}
	section.quicklinks span{
		background: snow;
		border: solid 1px coral;
		border-radius: 4rem;
		display: block;
		font-size: 2rem;
		width: 5rem;
		margin: 1rem auto;
		padding: 1rem;
	}
	section.quicklinks > a:hover span,
	section.quicklinks > a:focus span{
		background-color: azure;
		border:solid 1px darkcyan;
	}
	section.quicklinks h6 {
		font-size: 1.25rem;
		text-align: left;
		max-width: 25rem;
		margin: 0 auto;
	}
	section.quicklinks h6 + ul li:before{
		content: "+";
		display: block;
		float: left;
		padding-right: .5rem;
	}
	section.quicklinks h6 + ul{
		text-align: left;
		list-style-type: none;
		padding-left: 1rem;
		max-width: 25rem;
		margin: 0 auto;
	}

































































































































































































































