
.icon-cancel:before { content: '\21'; } /* '!' */
.icon-menu:before { content: '\22'; } /* '&quot;' */
.icon-web:before { content: '\23'; } /* '#' */
.icon-design:before { content: '\24'; } /* '$' */
.icon-brand:before { content: '\25'; } /* '%' */